<th:block th:fragment="Paradox-post-info(post)">
  <div th:with="contributor = ${post.contributors[0]}" class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
    <!-- Author Avatar -->
    <div id="author-avatar">
      <img
        th:src="${contributor.avatar ?: #theme.assets('/img/avatar.png')}"
        width="44px"
        height="44px"
        alt="Author Avatar"
      />
    </div>
    <!-- Author Name & Date -->
    <div>
      <strong th:text="${contributor.displayName}"></strong>
      <span th:text="${#dates.format(post.spec.publishTime,'MM月 dd,yyyy')}"></span>
    </div>

    <div class="section-spacer"></div>

    <!-- Favorite -->
    <!--
        <button id="article-functions-like-button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon btn-like">
            <i class="material-icons" role="presentation">favorite</i>
            <span class="visuallyhidden">favorites</span>
        </button>
    -->

    <!-- Qrcode -->
    <th:block th:if="${theme.config.style.post_qrcode_enable}">
      <th:block th:replace="~{layout/_widget/qrcode}" />
    </th:block>

    <!-- Tags (bookmark) -->
    <th:block th:if="${not #lists.isEmpty(post.tags)}">
      <button
        id="article-functions-viewtags-button"
        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
      >
        <i class="material-icons" role="presentation">bookmark</i>
        <span class="visuallyhidden">bookmark</span>
      </button>
      <ul
        class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="article-functions-viewtags-button"
      >
        <li th:each="tag : ${post.tags}" class="mdl-menu__item">
          <a class="post_tag-link" th:href="${tag.status.permalink}" th:text="${tag.spec.displayName}"></a>
        </li>
      </ul>
    </th:block>

    <!-- Share -->
    <th:block th:replace="~{layout/_partial/post-info-share :: post-info-share(${post})}" />
  </div>
</th:block>
